Backend/n8n/exported-workflows.json
[
  {
    "createdAt": "2025-05-21T21:07:38.091Z",
    "updatedAt": "2025-05-21T21:09:44.000Z",
    "id": "MnivNaodWjPnf3dq",
    "name": "My workflow",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "model": "=gpt-3.5-turbo",
          "options": {},
          "apiKey": "={{ $('Dados').item.json.key.replace(/^'+|'+$/g, '') }}"
        },
        "id": "4618b776-8456-4bd3-9069-4df12cf934e4",
        "name": "OpenAI Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [520, 220]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Você é um auxiliar para planejar redações. Use seus conhecimentos e buscas para sugerir citações, dados e me auxiliar em como devo escrever minha redação do Enem com o titulo: '{{ $('Dados').item.json.title }}' e tema '{{ $('Dados').item.json.theme }}'",
          "options": {}
        },
        "id": "46f3d6e3-772c-43b9-b8b7-64dec57696b6",
        "name": "Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [600, 0]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "a855de28-5c4e-4b1a-8e07-7f82d22a4fed",
          "responseMode": "lastNode",
          "responseData": "allEntries",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [0, 0],
        "id": "dd662f16-bec0-4810-af4e-bdb07cccbbb7",
        "name": "Webhook",
        "webhookId": "a855de28-5c4e-4b1a-8e07-7f82d22a4fed"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3f0fd727-2787-4471-bd4f-c495cc254cf6",
                "name": "key",
                "value": "='{{ $json.body.gpt_api_key }}'",
                "type": "string"
              },
              {
                "id": "9ecf182e-bfc1-4f49-83c1-c6f766a9c445",
                "name": "title",
                "value": "='{{ $json.body.titulo }}'",
                "type": "string"
              },
              {
                "id": "424ed6c9-dd05-4f7f-9746-5479c1aa527f",
                "name": "theme",
                "value": "='{{ $json.body.tema }}'",
                "type": "string"
              },
              {
                "id": "9de23fe4-4a0e-4ff1-9fb8-53913d32cb43",
                "name": "user_id",
                "value": "='{{ $json.body.user_id }}'",
                "type": "string"
              },
              {
                "id": "715ad2de-318b-4bb1-8575-a6f7ba8da979",
                "name": "access_token",
                "value": "='{{ $json.body.access_token }}'",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [240, 0],
        "id": "01f39a44-dda4-4a89-8864-6396af02a66c",
        "name": "Dados"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://backend:5000/planning/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "=Authorization",
                "value": "=Bearer {{ $('Dados').item.json.access_token.replace(/^'+|'+$/g, '') }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "title",
                "value": "={{ $('Dados').item.json.title.replace(/^'+|'+$/g, '') }}"
              },
              {
                "name": "theme",
                "value": "={{ $('Dados').item.json.theme.replace(/^'+|'+$/g, '') }}"
              },
              {
                "name": "user_id",
                "value": "={{ $('Dados').item.json.user_id.replace(/^'+|'+$/g, '') }}"
              },
              { "name": "text", "value": "={{ $('Agent').item.json.output }}" }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [960, 0],
        "id": "0b45a2a5-82e1-4040-9e7f-d634e28f7b87",
        "name": "HTTP Request",
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "OpenAI Model": {
        "ai_languageModel": [
          [{ "node": "Agent", "type": "ai_languageModel", "index": 0 }]
        ]
      },
      "Agent": {
        "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
      },
      "Webhook": {
        "main": [[{ "node": "Dados", "type": "main", "index": 0 }]]
      },
      "Dados": { "main": [[{ "node": "Agent", "type": "main", "index": 0 }]] }
    },
    "settings": { "executionOrder": "v1" },
    "staticData": null,
    "meta": { "templateCredsSetupCompleted": true },
    "pinData": {},
    "versionId": "26c20f16-4321-4c0c-be3d-121bce02e31b",
    "triggerCount": 1,
    "tags": []
  }
]
